body{
    background-color: aliceblue;
}
.container{
    max-width: 500px;
    margin-top: 50px;
}
.quiz-container{
    background-color: aliceblue;
}
.timer{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
#questioncontainer{
    margin-bottom: 20px;
    font-weight: 600px;
}
.option.div {
    font-size: 10px;
    width: 100%;
    padding: 1px;
    margin: 3px;
    text-align: left;
    outline: none;
    background: transparent;
    border: 1px purple;
    border-radius: 1px;
}
#choice li{
    margin-bottom: 10px;
}
#submit-btn{
    font-size: 18px;
}
#score{
    font-weight: bold;
}